body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  width: 100%;
  min-height: 90vh;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap:10px;
  margin: 0 auto ;
  max-width: 90vw;
  grid-template-areas:
 " . bn bn bn"
 " sb mn mn mn"
 " sb2 mn mn mn"
 " sb3 mn mn mn"
 " . ft ft ft"
 " . ftr ftr ftr"
 ". ftr ftr ftr";
}

.container div:nth-child(6) {
margin:20px 0 auto -50px ;
color: #7b7d7d;
/*background: red;-->*/
}

/*.container div:nth-child(7) {
  min-height: 200px;
}*/

.banner {
  grid-area: bn
}

.banner {
  display: flex;
  border-bottom: 1px solid grey;
}

.img {
  align-self: flex-start;
  text-align: left;
}

.header-info {
  align-self: center;
  flex: 1;
  text-align: right;
  font-weight: 100;
  font-size: 20px;
}

.mainpage {
  grid-area: mn
}

.mainpage {
  background-image: url(images/image2-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sidebar {
  grid-area: sb
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(20px,auto));
  justify-content: center;
  grid-gap: 5px;
}

.sidebar > * {
  width: 80px;
  padding: 10px ;
  box-sizing: border-box;
  margin: 0 auto;
}

.sidebar aside {
  grid-row: span 2;
  background: #02b3e4;
}

.sidebar-2 {
  grid-area: sb2
}

.sidebar-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(4, minmax(20px,auto));
  justify-content: center;
  grid-gap: 5px;
}

.sidebar-2 > * {
  width: 80px;
  padding: 10px ;
  box-sizing: border-box;
  margin: 0 auto;
}

.sidebar-2 aside {
  grid-row: span 2;
  background: #2d3c49;
}

.sidebar-3 {
  grid-area: sb3
}

.sidebar-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(20px,auto));
  justify-content: center;
  grid-gap: 5px;
}

.sidebar-3 > * {
  width: 80px;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.sidebar-3 aside {
  grid-row: span 2;
  background:  #7d97ad;
}

.feature {
grid-area: ft
}

.footer {
  grid-area: ftr
}

.footer {
  display: flex;
  flex-flow: wrap;
  /*min-width: 70vw;*/
  margin: -50px auto 20px -50px;
  padding: 20px 20px 50px 0;
  justify-content: space-between;
  /*background: blue;*/
  text-align: center;
  align-items:center;
  box-sizing: border-box;
}

.img1 {
  flex: 1;
}

.img2 {
  flex: 1;
  }

.img3 {
  flex: 1;
  }

  @media screen and (min-width: 321px) {
   .mainpage {
     background-image: url(images/image2-min.jpg);
     background-size: contain;
     width: 100%;
     background-position: center center;
     background-repeat: no-repeat;
   }
  }

 @media only screen and (max-width: 320px) {
  .mainpage {
  background-image: url(images/image1-min.jpg);
  background-size: contain;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
 }
}

/*@media only screen and (min-width: 800px) {
  .mainpage {
    background-image: url(images/image2-min.jpg);
    background-size: cover;
    width: 100%;
    background-position: center left;
    background-repeat: no-repeat;
  }
}*/
