.acronym {
  text-align: right;
}

.acronym h2 {
  font-weight: 100;
}

.centre-image {
  width: 100%;
}

.md-images {
  width: 70%;
  text-align: center;
  height: auto;
}

.md-images-container {
  margin-top: 10px;
  overflow-wrap: break-word;
}

.headline {
  margin-top: 10px;
}
